body {
  background-image: url(https://cdn.pixabay.com/photo/2016/04/04/14/12/monitor-1307227_1280.jpg);
  font-family: sans-serif;
  padding: 20px;
  color: white;
}

#title {
  text-align: center;
}
#description {
  text-align: center;
  font-family: Brush Script MT;
}

#survey-form {
  width: 80%;
  background-color: #002244;
  opacity: 0.8;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  max-width: 500px;
}

fieldset {
  display: flex;
  flex-direction: column;
  border: none;
  padding: 2rem 0;
}

.info {
  padding: 12px 0 0 5px;
}

.info label,
.info input {
  display: inline-block;
}

#submit {
  display: block;
  margin: 40px auto;
  width: 40%;
  padding: 15px;
  font-size: 23px;
  background: #d0d0d5;
  border: 3px solid #3b3b4f;
}
